<header>
    <h1>Chart POC</h1>

    <p>
        Tool for accessibility testing different chart libraries and tools with IDEA child count data.
        <a href="https://nolatin.com/share/child-count-001/cd067719-d0ab-4427-a72d-60b936488097">Retrieved from nolatin</a>
    </p>

</header>


<main>
    <div class="state-selection">
        <label for="state-select">Select a State</label>
        <select id="state-select" [(ngModel)]="selectedState" (ngModelChange)="onChange()">
            <option selected value=""></option>
            <option *ngFor="let state of props.states" [value]="state">{{state}}</option>
        </select>
    
    </div>


    <ng-container *ngIf="selectedState.length">
        <div #chartContainer class="clustred-bar-chart">
            <clustered-bar-chart (hoverEvent)="onVisaClick($event)" #chart [accessibility]="props.accessibility" [mainTitle]="'Visa Chart Components Clustered Bar Chart'" [subTitle]="'Child count for disabilities'"  [margin]="{top: 50, left: 10, right: 10, bottom: 10}"  [xAxis]="{label: 'Count', visible: true}" [yAxis]="{label: '', visible: true}" [legend]="{visible: true, interactive: true}" [colors]="colors"  layout="horizontal" *ngIf="selectedState.length"  [width]="width" [height]="height" [groupAccessor]="props.groupAccessor" [ordinalAccessor]="props.ordinalAccessor" [valueAccessor]="props.valueAccessor" [data]='props.data' ></clustered-bar-chart>
            <div id="cc"></div>
        </div>
    
        <!-- <h2>Quorum Chart</h2>
        <p>Child count for disabilities</p>
        <div #quorum id="quorum-container" class="quorum-container">
    
        </div>

        <h2>Chartjs Chart</h2>
        <p>Child count for disabilities</p>
        <div class="chartjs-container">
            <canvas #chartjs ></canvas>
        </div> -->
    </ng-container>


</main>



