<header>
    <h1>Chart POC</h1>

</header>

<main>
    <div class="state-selection">
        <label for="state-select">Select a State</label>
        <select id="state-select" [(ngModel)]="selectedState" (ngModelChange)="onChange()">
            <option selected value=""></option>
            <option *ngFor="let state of props.states" [value]="state">{{state}}</option>
        </select>
    
    </div>


    <div class="clustred-bar-chart">
        <clustered-bar-chart [margin]="{top: 50, left: 10, right: 10, bottom: 10}"  [xAxis]="{label: 'Count', visible: true}" [yAxis]="{label: '', visible: true}" [legend]="{visible: true, interactive: true}" [colors]="colors"  layout="horizontal" *ngIf="selectedState.length"  width="800" height="600" [groupAccessor]="props.groupAccessor" [ordinalAccessor]="props.ordinalAccessor" [valueAccessor]="props.valueAccessor" [data]='props.data' ></clustered-bar-chart>
    </div>

    <div #quorum id="quorum-container" class="quorum-container">

    </div>


</main>



